# gitignore -- if you have any questions ask Andrew Grossfeld [amg445]

# ignored js and python dependencies handled by npm and pip
node_modules/
env/

# django autocreated folders and compiled pyc to ignored
__pycache__/
*.pyc

# webpack compiled js files
static/js/
webpack-stats.json

# Weird Mac Thing
.DS_Store

# VSCode settings files
.vscode/
