/* Base Page Styles */

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

button {
  cursor: pointer;
  border: none;
  outline: 0;
}

#containerWrapper.themeWhite {
  background-color: #3AAFA9;
}

#containerWrapper.themeBlue {
  background-color: white;
}

.hidden {
  display: none !important;
}

/* Desktop Only Styles */
@media screen and (min-device-width: 768px) {
  .container {
    max-width: 1024px;
    margin: auto;
    padding: 0px;
  }
}

/* Mobile Only Styles */
@media screen and (max-device-width: 768px) {
  .container {
    width: 100%;
  }
}