/* Styles for QuotesContainer Component */

#quotesContainer {
    display: block;
    width: 100%;
    padding-left: 25px; padding-right: 25px;
}

#quotesTitle {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 50px; 
}

.quoteOuterWrapper {
    display: block;
    width: 90%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 1px 2px 1px 2px #bdbdbd;
}

.quoteItem{
    display: flex;
    width: 100%;
}

.quoteItem.refine-open {
    box-shadow: 1px 2px 1px 2px #bdbdbd;
    margin-bottom: 50px;
}

.quoteLeft {
    display: inline-block;
    width: 80%;
}
.quoteLeft .top {
    display: block;
    width: 100%;
}
.insuranceType {
    display: inline-block;
    width: 40%;
    color: white;
    background: linear-gradient(295deg, transparent 15px, #3AAFA9 0);
    padding: 10px 10px;
    font-size: 1.5em;
    font-weight: 300;
}
.refineButton {
    color: #3AAFA9;
    font-size: 1.2em;
    font-weight: 300;
}
.fields {
    display: block;
    padding-left: 5%;
    padding-right: 25%;
    padding-top: 40px; padding-bottom: 40px;
    text-align: center;
}
.field {
    display: inline-block;
    width: 33%;
}
.field .headerText, .field .logo { /* TODO: .field .logo is only temporary */
    font-size: 2.4em;
    margin-bottom: 15px;
}
.field .subheaderText {
    font-size: 1em;
    font-weight: 400;
}

.quoteRight {
    display: inline-block;
    width: 20%;
}
.estimatedLabel {
    color: grey;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 0px;
}
.permonth .headerText{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 5px;
}
.permonth .permonthLabel {
    font-size: 1em;
    text-align: center;
}
.getCoveredButton {
    display: block;
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
    padding-top: 15px; padding-bottom: 15px;
    border-radius: 5%;
    color: white;
    background-color: #3AAFA9;
    font-size: 1.2em;
}

/* Refine Styles */
.refineWrapper.open {
    padding-left: 10%; padding-right: 10%;
    padding-bottom: 35px;
}

.refine-title {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 25px;
    color: #474747;
}

.refine-question {
    display: block;
    width: 100%;
}
.refine-question p {
    display: inline-block;
    width: 70%;
    padding-right: 5%;
    font-size: 1.2em;
    font-weight: 300;
    color: #474747;
}
.refine-input {
    display: inline-block;
    text-align: center;
    width: 30%;
    border-top: none; border-right: none; border-left: none;
    border-bottom: 2px solid grey; 
    color: #3AAFA9;
    font-size: 1.2em;
}
.refine-question .dropdown {
    display: inline-block;
    width: 30%;
    color: #474747;
}
.refine-input-currency-wrapper {
    display: inline-block;
    width: 30%;
}
.refine-input-currency-wrapper p {
    display: inline-block;
    width: 10%;
    padding-right: 0px;
    text-align: right;
    font-size: 1.4em;
    font-weight: 400;
    color: black;
}
.refine-input-currency {
    display: inline-block;
    width: 90%;
    text-align: center;
    border-top: none; border-right: none; border-left: none;
    border-bottom: 2px solid grey; 
    color: #3AAFA9;
    font-size: 1.2em;
}

.grid-wrapper {
    display: block;
    width: 80%;
    margin-left: auto; margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.refine-input-grid {
    display: block;
    width: 100%;
    text-align: center;
    border-top: none; border-right: none; border-left: none;
    border-bottom: 2px solid grey; 
    color: #3AAFA9;
    font-size: 1.2em;
}

.row > div:first-of-type {
    font-style: italic;
}
.column {
    font-weight: 300;
}

.update-button-wrapper {
    display: flex;
}
.update-button {
    display: block;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: auto;
    background-color: #3AAFA9;
    color: white;
    border-radius: 5px;
}