body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  background-color: #ffffff;
}

.container {
  margin: auto;
  max-width: 1024px;
  padding: 0px;
}

button {
  cursor: pointer;
  border: none;
  outline: 0;
}

/*
blue color: #3AAFA9;
*/

/* 
 * Navigation Menu CSS
 */

#menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px;
}
#menuTitle {
  display: inline-block;
  width: 200px;
  margin-top: 0; margin-left: 0; margin-right: 0;
  margin-bottom: 1px;
  color: #3AAFA9;
  font-size: 2em;
  font-weight: bold;
}
#menuButtonWrapper {
  float: right;
}
.menuButton {
  display: inline-block;
  margin-left: 30px;
  border: none;
  font-size: 1.2em;
  font-weight: 200;
}


/* sidebar CSS */

#rec {
  display: flex;
  align-items: stretch;
  height: 100%;
  background-color: white;
  color: black;
}

#sidebar {
  width: 35%;
  text-align: left;
  font-size: 1.5em;
  font-weight: 200;
  background-color: #f0f0f0;
  padding-left: 15px; padding-right: 15px;
}

#sidebar-title {
  padding-top: 50px;
  font-size: 1em;
  font-weight: 200;
}

.sidebar-item {
  display: block;
  font-size: .8em;
}
.sidebar-item div {
  display: block;
  width: 100%;
}
.sidebar-item i {
  display: inline-block;
  width: 15%;
  margin-right: 0px;
}
.sidebar-item div p {
  display: inline-block;
  width: 42.5%;
}
.sidebarTextRight {
  text-align: right;
  font-size: 1.25em;
}
.activeText p{
  color: black;
}
.activeText i {
  color: #3AAFA9;
}
.greyText {
  color: grey;
  opacity: .3;
}
.sidebarSum {
  display: block;
  width: 85%;
  margin-left: auto; margin-right: auto;
  padding-top: 20px;
  border-top: 2px solid grey;
}
.sidebarSum #sum {
  font-size: 1.5em;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 500;
}
.sidebarSum #label {
  font-size: .8em;
  text-align: center;
  font-weight: 300;
}

/* 
 * questions Page CSS
 */

#header-h1 {
  display: block;
  margin-left: auto; margin-right: auto;
  font-size: 2.6em;
  text-align: center;
  width: 65%;
  padding-top: 50px;
}

 #questionsWrapper {
  width: 70%;
  display: inline-block;
}

#questions {
  padding: 25px 0px;
}
#questionsContent {
  margin: auto;
  text-align: center;
}
#questionsContent p {
  margin: 15px 5px;
  font-size: 2.5em;
  font-weight: 200;
  display: inline-block;
}
.questionsInput {
  margin: 15px 5px;
  padding-bottom: 5px;
  background: transparent;
  outline: 0;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-size: 2.4em;
  font-weight: 400;
  color: #3AAFA9;
  text-align: center;
}
.questionsInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3AAFA9;
  opacity: 0.5; /* Firefox */
}
.questionsInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3AAFA9;
  opacity: 0.5; /* Firefox */
}
.questionsInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #3AAFA9;
  opacity: 0.5; /* Firefox */
}
#questionsInput1 {
  width: 40px;
}
#questionsInput2 {
  width: 120px;
}
#quotesButton {
  display: block;
  background-color: #55b2ae;
  color: #ffffff;
  outline: 0;
  font-size: 2em;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto; margin-right: auto;
  padding-top: 15px; padding-bottom: 15px;
  padding-left: 20px; padding-right: 20px;
  border: none;
  border-radius: 6px;
}

#questionsDropdown .default.text {
  color: #3AAFA9;
  opacity: 0.5;
}