{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Semantic UI Styling -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
        <link rel="stylesheet" href="static/css/bootstrap-grid.min.css"></link>
        <title>Jetson Benefits Home</title>
    </head>

    <body>
        <div id="root"></div>
        <script>
            var env = {
                'baseURL': "{{env.baseURL}}",
                'device': "{{env.device}}",
                'is_mobile': "{{env.is_mobile}}"
            };
        </script>
        {% render_bundle 'common' %}
        {% render_bundle 'index' %}
    </body>
</html>
